/*
!.gitignore
!.vimrc
!.vim/andrelo/
!.vim/colors/
!.bash_profile
!.bashrc
!.Xdefaults
!.xinitrc
!.config/
.config/*
.config/alacritty/
!.config/bspwm/
!.config/nvim/
.config/nvim/*
!.config/nvim/*.vim
!.config/sxhkd/
!.config/zathura/
!.config/dwm/
!.config/youtube-viewer/
!.config/dunst/
!.config/xmobar/
!.ssh/config
