/*
!.gitignore
!.gitconfig
!.vimrc
!.vim/andrelo/
!.vim/colors/
!.bash_profile
!.bashrc
!.Xdefaults
!.xinitrc
!.config/
.config/*
!.config/i3/
!.config/zathura/
!.config/dwm/
!.config/youtube-viewer/
!.config/dunst/
!.ssh/config

